<div class="container text-center">
    <h1>ChartsJs in Angular</h1>
</div>
<div class="container text-center">
    <a routerLink = "./line-chart">Line Chart</a>
    <br><br>
    <a routerLink = "./pie-chart">Pie Chart</a>
    <br><br>
    <a routerLink = "./scatter-chart">Scatter Chart</a>
    <br><br>
    <a routerLink = "./bubble-chart">Bubble Chart</a>
    <br><br>
    <a routerLink = "./donut-chart">Donut Chart</a>
    <br><br>
    <a routerLink = "./bar-chart">Bar Chart</a>
    <br><br>
    <a routerLink = "./polar-area-chart">Polar Area Chart</a>
    <br><br>
    <a routerLink = "./radar-chart">Radar Chart</a>
</div>